.userPic {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 8px;
}

.btnOne {
  width: 120px;
  height: 20px;
  margin: 10px;
}

.blockDiv {
  width: 1000px;
  margin: 0 auto;
}

.blockUser {
  margin: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.rowElse {
  margin-left: 30px;
}

.headerForm {
  margin-top: 40px;
  margin-left: 50px;
}

.header {
  margin-left: 330px;
  margin-top: 50px;
}

.btnElse {
  margin-right: 20px;
  width: 134px;
}
.classForm{
  margin: 0 auto;
  width: 450px;
  margin-top: 50px;
}

.elemBlock{
  margin: 10px;
}

.mt-31 {
  margin-top: 0.6rem!important;
}

.inp{
  width: 200px;
}

.for{
  margin-left: calc((100% - 500px)/2);
}