.userPic {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 8px;
}

.btnOne {
  width: 120px;
  height: 20px;
  margin: 10px;
}

.blockDiv {
  width: 1000px;
  margin: 0 auto;
}
.blockUser {
  margin: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.rowElse {
  margin-left: 30px;
}

.Header {
  margin-top: 40px;
}

.btnElse {
  margin-right: 20px;
}
